[submodule "lib/lsp-utils/specification/language-server-protocol"]
	path = language-server-protocol
	url = https://github.com/microsoft/language-server-protocol.git
[submodule "third-party/lem-base16-themes"]
	path = third-party/lem-base16-themes
	url = git@github.com:lem-project/lem-base16-themes.git
