.lem-editor__floating-window--bordered {
  padding: 10px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 1), 0 0 0 1px rgba(128, 128, 128, 0.2);
  backdrop-filter: blur(8px);
}

.lem-editor__mode-line {
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 1), 0 0 0 1px rgba(128, 128, 128, 0.2);
  /* transition: all 0.1s ease-out; */
}
